// main colors
$primary-color: #e38f68;
$secondary-color: #000000;
$tertiary-color: #ffffff;

// font family
@font-face {
  font-family: avenir-next;
  src: url("../fonts/Avenir-Next.ttf") format("truetype");
}
@font-face {
  font-family: chapaza-regular;
  src: url("../fonts/Chapaza.ttf") format("truetype");
}
@font-face {
  font-family: bodoni-72;
  src: url("../fonts/Bodoni\ 72\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: bodoni-italic;
  src: url("../fonts/Bodoni\ Italic.ttf") format("truetype");
}
// global
body {
  padding: 0;
  margin: 0;
  font-family: avenir-next;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// custom elements
.button-primary {
  font-weight: 100;
  background: $primary-color;
  width: 230px;
  height: 50px;
  color: $tertiary-color;
  border-radius: 71px;
  transition: 0.25s;
  &:hover {
    background-color: $secondary-color;
    color: $tertiary-color;
  }
}

.button-secondary {
  font-weight: 100;
  background: transparent;
  width: 230px;
  height: 50px;
  color: $tertiary-color;
  border-radius: 71px;
  transition: 0.25s;
  border: 1px solid $tertiary-color;
  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $tertiary-color;
  }
}

.button-tertiary {
  font-weight: 100;
  background: transparent;
  width: 180px;
  height: 50px;
  color: $secondary-color;
  border-radius: 71px;
  transition: 0.25s;
  border: 1px solid $secondary-color;
  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $tertiary-color;
  }
}
// end of custom elements

.navbar {
  height: 88px;
  background: $tertiary-color;
}

.navbar-brand {
  img {
    height: 52px;
    width: 100%;
  }
}

.navbar-nav {
  .nav-item {
    padding-right: 30px;
    a {
      color: $primary-color !important;
      transition: 0.25s;
      &:hover {
        color: $secondary-color !important;
      }
    }
  }
}

.nav-container{
  @media screen and (max-width: 992px) {
    max-width: 100% !important;
    background: $tertiary-color;
    padding: 20px;
  }
}

#navbarNav{
  @media screen and (max-width: 992px) {
    padding: 36px 45px;
  }
  @media screen and (max-width: 500px) {
    padding: 36px 28px;
  }
}

.nav-item{
  @media screen and (max-width: 992px) {
    padding-bottom: 14px;
  }
}

.nav-item:last-child{
  @media screen and (max-width: 992px) {
    padding-bottom: 40px;
  }
}
.dividerHero{
  padding-top: 88px;
  @media screen and (max-width: 992px) {
    padding-top: 109px;
    padding-bottom: 2rem;
  }
}
.divider {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-color;
  color: $tertiary-color;
  text-align: center;
  @media screen and (max-width: 992px) {
    height: 80px;
    padding: 0 2rem;
  }
  h6 {
    letter-spacing: 0.1em;
    font-weight: 600;
  }
}

.hero {
  margin: 0 13px 60px;
  min-height: 660px;
  background-image: url(../imgs/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $tertiary-color;
  display: flex;
  align-items: center;
  @media screen and (max-width: 500px) {
    margin: 0;
  }

  h1 {
    font-family: chapaza-regular;
    font-size: 54px;
  }
  p {
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
  }
  &-book-btn {
    margin-right: 25px;
    margin-bottom: 1.5rem;
    @media screen and (max-width: 500px) {
      margin-bottom: 1.5rem;
    }
  }
  &-choose-btn {
    margin-bottom: 1.5rem;
  }
  &-elements {
    padding-left: 6rem;
    @media screen and (max-width: 500px) {
      padding: 0px 20px;
    }
  }
}

// first container
.fc {
  margin-bottom: 60px;
  @media screen and (max-width: 500px) {
    text-align: center;
  }
  
  .col-fc-left{
    @media screen and (max-width: 500px) {
      padding: 0;
    }
  }

  &-left {
    display: flex;
    justify-content: flex-end;
    width: 469px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 1200px) {
      width: auto;
      border-radius: 0;
      padding-bottom: 2rem;
    }

    &-img-container{
      height: 589px;
      @media screen and (max-width: 992px) {
        height: auto;
      }
    }
    &:hover {
      img {
        transition: 0.25s;
        transform: scale(
          1.2
        ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
      .overlay {
        opacity: 1;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s;
      background-color: rgba(19, 18, 18, 0.4);
      z-index: 0;
    }
  }
  &-right {
    margin-top: 50px;
    max-width: 555px;
    padding-left: 20px;

    @media screen and (max-width: 500px) {
      padding: 0 important;
      margin-top: 0;
      max-width: 100%;
      padding-left: 0;
    }

    &-title {
      font-family: chapaza-regular;
      font-size: 36px;
      margin-bottom: 0.8rem;
    }
    &-subtitle {
      font-family: bodoni-italic;
      font-style: italic;
      font-size: 24px;
      margin-bottom: 0.9rem;
    }
    &-description {
      margin-bottom: 2.6rem;
    }
  }
}
// end of first container

// second container
.sc {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &-content {
    margin-bottom: 85px;
      @media screen and (max-width: 500px) {
        margin-bottom: 3rem;
      }
  }
  &-title {
    font-family: chapaza-regular;
    font-size: 36px;
    margin-bottom: 0.8rem;
  }
  &-description {
    margin-bottom: 2.6rem;
    width: 450px;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
  &-img-container {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
   
    &:hover {
      img {
        transition: 0.25s;
        transform: scale(
          1.2
        ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
      .overlay {
        opacity: 1;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s;
      background-color: rgba(19, 18, 18, 0.4);
      z-index: 0;
    }
  }
  p {
    margin-top: 15px;
    @media screen and (max-width: 500px) {
      margin-top: 10px;
      margin-bottom: 2rem;
    }
  }
 
  &-button {
    width: 232px;
    margin-top: -2rem;
  }
}
// end of second container

// third container
.tc {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &-content {
    .price {
      font-family: bodoni-72;
      font-size: 36px;
      margin: 10px auto;
    }
    .tc-description {
      min-height: 140px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  .tc-content-pckg {
    cursor: pointer;
    border-radius: 5px;
    padding-bottom: 2rem;
    @media screen and (max-width: 500px) {
      margin-bottom: 2rem;
      padding-bottom: 0rem;
    }

    &:hover {
      background: #eee;
      box-shadow: 0 4 5px -5px #eeeeee;
    }
  }
  &-title {
    font-family: chapaza-regular;
    font-size: 36px;
    margin-bottom: 0.8rem;
  }
  &-description-1 {
  }
  &-description-2 {
    margin-bottom: 2.6rem;
    width: 600px;
    font-weight: bold;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }
  &-img-container {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    &-details {
      margin-top: 1.5rem;
      text-align: center;
    }
  }
  &-button {
    width: 221px;
    @media screen and (max-width: 500px) {
      margin-bottom: 2rem;
    }
  }
}
// end of third container

// fourth container
.frc {
  margin-bottom: 100px;
  width: 100%;
  height: 320px;
  background-color: $secondary-color;
  color: $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 500px) {
    height: 100%;
    padding: 3rem 1rem;
    margin-bottom: 60px;
  }

  &-content {
    width: 757px;
    text-align: center;
  }
  &-title {
    font-family: chapaza-regular;
    font-size: 36px;
    margin-bottom: 0.8rem;
    line-height: 150%;
  }
  &-description {
    margin-bottom: 2rem;
  }
  &-button {
    &:hover {
      background: $tertiary-color;
      color: $secondary-color;
    }
  }
}
// end of fourth container

// fifth container
.fifc {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media screen and (max-width: 500px) {
    margin-bottom: 60px;
  }
  &-content {
      margin-bottom: 2rem;
  }
  &-title {
    font-family: chapaza-regular;
    font-size: 36px;
    margin-bottom: 0.8rem;
  }
  &-description {
    width: 510px;
    margin-bottom: 2rem;
    @media screen and (max-width: 525px) {
      width: 100%;
    }
    a{
        text-decoration: none;
        color: $primary-color;
    }
  }
  &-img-container {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      padding-bottom: 1.3rem;
    }
   
    @media screen and (max-width: 500px) {
      height: 272px;
      width: 272px;
      margin-right: auto;
      margin-left: auto;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    &-details {
      margin-top: 1.5rem;
      text-align: center;
    }
  }
  &-button {
    width: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// end of fifth container


// last container
.lastc {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-content {
        text-align: start;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &-details{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img{
            margin-right: 35px;
            @media screen and (max-width: 500px) {
              margin-right: 1rem;
            }
        }
    }
    &-title {
      font-family: chapaza-regular;
      font-size: 36px;
      margin-bottom: 2rem;
    }
    &-description {
      margin-bottom: 2rem;
      a{
          text-decoration: none;
          color: $primary-color;
      }
    }
    &-img-container {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      &-details {
        margin-top: 1.5rem;
        text-align: center;
      }
    }
    &-button {
      width: 246px;
    }
    .location{
        align-self: flex-start;
    }
  }
  // end of last container

  // footer
  .footer{
      background: $secondary-color;
      color: $tertiary-color;
      &-container{
        padding-top: 60px;
        height: 270px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1200px) {
          flex-direction: column;
          padding-bottom: 1.3rem;
          height: 100%;
        }
      }
      &-info{
          font-size: 12px;
          color: #c4c4c4;
      }
      &-left-container{
        width: 250px;
        @media screen and (max-width: 1200px) {
          width: 100%;
          padding-bottom: 1.5rem;
        }
      }
      &-right-container{
        display: flex;
        a{
          color: inherit;
          text-decoration: none;
          &:hover{
            color: $tertiary-color
          }
        }
        @media screen and (max-width: 630px) {
         flex-direction: column;
         display: none;
        }
      }
      &-items{
        width: 158px;
        padding: 0px 10px;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
      .custom-ul{
          list-style: none;
          margin: 0;
          margin-top: 1rem;
          padding: 0;
      }
      &-social{
          display: flex;
          justify-content: space-between;
          padding-top: 2rem;
          padding-bottom: 2rem;
          @media screen and (max-width: 630px) {
            flex-direction: column;
          }
      }
      .social-icon{
          background: #fff;
          height: 26px;
          width: 30px;
          margin-right: 1.5rem;
          @media screen and (max-width: 630px) {
            margin-top: 1rem;
            margin-right: 12px;
          }
      }
      .right-mobile-footer{
        display: none;
        a{
          color: inherit;
          text-decoration: none;
          &:hover{
            color: $tertiary-color
          }
        }
        .custom-ul{
          margin-top: 10px;
        }
        #fa-arrow-down{
          color: #ccc;
        }
        .rmf-header{
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #ccc;
        }
        .rmf-title{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        @media screen and (max-width: 630px) {
          display: block;
         }
      }
  }

  // utils
  .btn:focus,.btn:active {
      outline: none !important;
      box-shadow: none;
  }
  .hamburger{
      width: 50px;
      height: 6px;
      background-color: $primary-color;
      margin: 6px 0;
      border-radius: 3px;
  }
